@import '../../../styles/variables.module';

.slideFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 50px 0;
  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);

  // There may be an outline because the tabIndex is set, but removing it may not be a good idea?
  outline: none;

  @media (max-width: $mobileBreakPoint) {
    display: none;
  }
}

.liveMetrics {
  flex: 1;
  padding-bottom: 56px;

  .title {
    display: flex;
    align-items: center;

    .dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: var(--colorSecond);
      border-radius: 50%;
    }

    .text {
      margin-left: 15px;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
  }

  .data {
    display: flex;
    margin-top: 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;

    .name {
      padding-right: 8px;
      letter-spacing: 0.04em;
      border-right: 1px solid var(--colorPrimary);
    }

    .value {
      margin-left: 8px;
      color: var(--colorSecond);
      letter-spacing: 0.15em;
    }
  }
}

.scrollTip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .verticalLine {
    width: 1px;
    height: 42px;
    margin-top: 14px;
    background: var(--colorPrimary);
  }
}

.gameControl {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 56px;

  svg {
    cursor: pointer;

    &:hover {
      color: #666;
    }
  }
}

.infoDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Must be bigger than game and header.
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: rgb(35 39 40 / 10%);
  box-shadow: inset 0 0 20px #000;
  backdrop-filter: blur(7.5px);

  .panel {
    width: 570px;
    padding: 40px;
    color: #fff;
    background: #000;
    border-radius: 34px;

    .title {
      padding: 0 15px;
      color: #000;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.035em;
      background: #fff;
    }

    .subtitle1,
    .subtitle2 {
      margin-top: 36px;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.05em;
    }

    .subtitle2 {
      margin-top: 28px;
    }

    .text1 {
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.05em;

      a {
        text-decoration-line: underline;
        color: #18efb1;
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .keybindings {
        display: grid;
        grid-template-columns: 100px auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.05em;

        .divider {
          grid-column-start: span 2;
          margin-top: 10px;
        }
      }

      .uiButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 124px;

        .uiButton {
          display: flex;
          gap: 10px;
          align-items: center;
          color: #fff;
          font-weight: 400;
          font-size: 12px;
          line-height: 105%;
          letter-spacing: 0.06em;
        }
      }
    }

    .actions {
      margin-top: 44px;

      .action {
        padding: 8px 20px;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 105%;
        letter-spacing: 0.11em;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          color: #000;
          background: #fff;
        }
      }
    }
  }
}
