@import '../../styles/variables.module';
@import '../../styles/presets.module';

.baseSeparatePage {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);

  .headerClassName,
  .descriptionWrap,
  .infoWrap,
  .functionsWrap,
  .resourcesWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
    margin: 0 120px;
  }

  .infoWrap {
    margin: 20px 120px;
    border-bottom: 0.5px solid #6a7171;
  }

  .resourcesWrap {
    align-items: flex-start;
    padding: 120px 0;
    border-top: 0.5px solid;
  }

  @media (max-width: $mobileBreakPoint) {
    .headerClassName,
    .descriptionWrap,
    .infoWrap,
    .functionsWrap,
    .resourcesWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: unset;
      margin: unset;
    }

    .infoWrap {
      border-bottom: none;
    }

    .resourcesWrap {
      width: calc(100% - var(--baseMobileMargin) * 2);
      margin: 0 var(--baseMobileMargin);
      padding: 80px 0;
    }
  }
}
