@import '../../styles/variables.module';
@import '../../styles/presets.module';

.baseSeparatePage {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);

  .headerClassName,
  .descriptionWrap,
  .infoWrap,
  .positionsWrap,
  .functionsWrap,
  .functionsTitleWrap,
  .resourcesWrap,
  .supportsWrap {
    display: flex;
    min-width: 1200px;
    margin: 0 120px;
  }

  .infoWrap {
    margin: 20px 120px;
    border-bottom: 0.5px solid #6a7171;
  }

  .descriptionWrap {
    justify-content: center;
  }

  .resourcesWrap {
    align-items: flex-start;
    padding: 120px 0;
    border-top: 0.5px solid;
  }

  .functionsWrap {
    .progressBar {
      width: 195px;
      height: 220px;
    }
  }

  .functionsTitleWrap {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.025em;
  }

  .supportsWrap {
    padding-bottom: 80px;
    border-bottom: 0.5px solid;
  }

  @media (max-width: $mobileBreakPoint) {
    .headerClassName,
    .descriptionWrap,
    .infoWrap,
    .positionsWrap,
    .functionsWrap,
    .functionsTitleWrap,
    .resourcesWrap,
    .supportsWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: unset;
      margin: unset;
    }

    .functionsWrap {
      .progressBar {
        width: 100%;
        height: unset;
      }
    }

    .functionsTitleWrap {
      padding: 80px var(--baseMobileMargin);
    }

    .infoWrap {
      border-bottom: none;
    }

    .resourcesWrap {
      width: calc(100% - var(--baseMobileMargin) * 2);
      margin: 0 var(--baseMobileMargin);
      padding: 80px 0;
    }

    .supportsWrap {
      padding-bottom: unset;
      border: none;
    }
  }
}
