@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 min(10%, 120px);
  font-family: "Articulat CF", sans-serif;
  mix-blend-mode: exclusion;
}

.embellishedElements {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
}

.embellishedElementLeft {
  top: 0;
  left: 0;
  width: 485px;
  height: 530px;
  background-image: url('./embellished_left.png');
}

.embellishedElementRight {
  top: -60px;
  right: 0;
  width: 600px;
  height: 1130px;
  background-image: url('./embellished_right.png');
  background-position: right;
}

.title {
  margin-top: 200px;
  font-weight: 700;
  font-size: 65px;
}

.subTitleWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.link {
  text-decoration: underline;
}

.subTitleItem {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
}

.badges {
  margin-top: 130px;
  margin-bottom: 100px;
}

.slogan {
  padding: 60px 120px;
  background: #484D4E;
  border: 0.5px solid #000;
  border-radius: 35px;

  .sloganTitle {
    color: #FFF;
    font-weight: 700;
    font-size: 39px;
  }

  .sloganText {
    margin: 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.54px;
  }
}

.sectionTitle {
  font-weight: 700;
  font-size: 39px;
  font-style: normal;
  line-height: 160%;
}

.darkerBg {
  background-color: #161616;
}

.inProgressTitle {
  color: #BCFFEC;
}

.upcomingTitle {
  color: #E0D0FF;
}

.achievementsTitle {
  color: #DDE3E3;
}

@media (max-width: $mobileBreakPoint) {
  .content {
    mix-blend-mode: normal;
  }

  .embellishedElementMobileUp {
    width: 425px;
    height: 500px;
    background-image: url('./embellished_mobile_up.png');
  }

  .embellishedElementMobileDown {
    top: 580px;
    width: 120px;
    height: 500px;
    background-image: url('./embellished_mobile_down.png');
  }

  .title,
  .badges {
    align-self: self-start;
  }

  .title {
    font-size: 48px;
  }

  .subTitleItem {
    font-size: 22px;
  }

  .badges {
    margin-top: 30px;
    margin-bottom: 180px;
  }

  .slogan {
    padding: 60px 40px;

    .sloganTitle {
      font-size: 22px;
    }
  }

  .sectionTitle {
    font-size: 18px;
  }
}