@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 min(10%, 120px);
  font-family: "Articulat CF", sans-serif;
}

.embellishedElementsWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.embellishedElements {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: 1;
  width: 30vw;
  height: 50vh;
  background: url('./embellished.png') no-repeat;
  background-size: contain;
  transform: rotate(180deg);

  &>img {
    width: 100px;
    height: 100px;
  }
}

.title {
  margin-top: 100px;
  font-weight: 700;
  font-size: 45px;
}

.subTitleWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.subTitleItem {
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
}

.badges {
  margin-top: 30px;
}

.slogan {
  padding: 30px;
  background: #484D4E;
  border: 0.5px solid #000;
  border-radius: 35px;

  .sloganTitle {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
  }

  .sloganText {
    margin: 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.54px;
  }
}

.sectionTitle {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 160%;
}

.inProgressTitle {
  color: #BCFFEC;
}

.upcomingTitle {
  color: #E0D0FF;
}

.achievementsTitle {
  color: white;
}

@media (max-width: $mobileBreakPoint) {
  .embellishedElements {
    top: -110px;
    width: 100vw;
  }

  .title,
  .badges {
    align-self: self-start;

  }
}