@import 'src/styles/variables.module';

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 80px 100px;
  background: #232323;
}

.icon {
  transform: translate(-140px, -20px);

  img {
    width: 450px;
    height: 450px;
  }
}

.link {
  font-size: 18px;
  text-decoration: underline;
}

.iconWrapper {
  width: 50%;
}

.reverse {
  flex-direction: row-reverse;

  .iconWrapper {
    text-align: right;
  }

  .icon {
    transform: translate(160px, -20px);
  }
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgb(255 255 255 / 30%);
}

.subtitle {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(268deg, #1d61f0 0%, #18efb1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionText {
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  
  /* 28.8px */
  letter-spacing: 0.54px;
  border-left: 1px solid #d9d9d9;
}

.project {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: $mobileBreakPoint) {
  .container {
    padding: 60px 40px;
  }

  .iconWrapper,
  .detailWrapper {
    width: 100%;
  }

  .iconWrapper {
    height: 150px;
  }

  .icon {
    transform: translate(-55px, -75px);

    img {
      width: 184px;
      height: 184px;
    }
  }

  .reverse {
    flex-direction: row;

    .icon {
      transform: translate(55px, -74px);
    }
  }

  .subtitle {
    font-size: 18px;
  }

  .descriptionText {
    font-size: 14px;
  }
}
