@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.icons {
  position: absolute;
  top: calc(100% + 70px);
  left: 50%;
  transform: translate(-50%, 0);
}

.involvedItemLink {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    position: absolute;
    top: calc(100% + 54px);
    left: 0;
    transform: unset;
  }
}
