@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.icons {
  position: absolute;
  top: calc(100% + 54px);
  left: calc(100% + 100px);
}

.involvedItemLink {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
}

.involvedItemsWrap {
  margin-bottom: 40px;
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    top: calc(100% + 42px);
    left: 0;
  }
}
