@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.functions {
  display: flex;
  justify-content: space-between;
  font-weight: 400;

  .functionsTitle {
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.025em;
  }

  .subTitle {
    padding-top: 50px;
    font-weight: 600;
    font-size: 23px;
    line-height: 160%;
    letter-spacing: 0.03em;
  }
}
