@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.icons {
  position: absolute;
  bottom: calc(100% + 52px);
  left: 50%;
  transform: translate(-50%, 0);
}

.oneLineGap {
  margin: 1em 0;
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    top: calc(100% + 50px);
    left: 0;
    transform: unset;
  }
}
