.themeDark,
%themeDark {
  --colorPrimary: #fff;
  --colorPrimaryBg: #000;
  --colorSecond: #18efb1;
  --footerInputBackground: #141717;

  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);
}

.themeLight,
%themeLight {
  --colorPrimary: #000;
  --colorPrimaryBg: #fff;
  --colorSecond: #5700ff;
  --footerInputBackground: #e7eaeb;

  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);
}
