// twitter widget
.react-tweet-theme {
  margin-left: auto !important;
  margin-right: auto !important;
  a {
    text-decoration: none !important;
    color: #000 !important;
  }
  article {
    margin-bottom: 0 !important;
    border: none !important;
  }
}
