@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.functionsItem {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-right: 70px;
  padding: 120px 0;
  font-weight: 400;
  border-bottom: 0.5px solid #6a7171;

  &:last-child {
    border-bottom: 0;
  }

  .titleWrap {
    display: inline-block;
    flex: 1 1 350px;

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 135%;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 20px 0;

      .tagItem {
        display: flex;
        align-items: center;
        height: 23px;
        padding: 0 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 105%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 3px;
      }
    }
  }

  &[data-is-progress-bar='false'] {
    margin-right: unset;
    padding: 0 0 120px;
    border: none;

    .titleWrap {
      width: 450px;
      min-width: unset;
    }
  }

  .content {
    flex: 10 1 500px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;

    & > p:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    display: block;
    margin: 0 var(--baseMobileMargin);
    padding: 80px 0;

    &[data-is-progress-bar='false'] {
      padding-bottom: 80px;

      .titleWrap {
        width: 100%;
        min-width: unset;
      }
    }

    .content {
      margin-top: 30px;
      margin-left: unset;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.05em;
    }
  }
}
