@import 'src/styles/variables.module';
@import '../../components/Header/index.module';

// .swiper-wrapper z-index is 1, which is higher here than .swiper-wrapper
$headerZ: 2;

.header {
  position: absolute;
  z-index: $headerZ;
  width: 100%;
}

.footer {
  background: var(--colorPrimaryBg);
}

.swiper {
  // If the height is not set, there is a chance that the default slide will be
  // random instead of the first one when the page is initialized, which may be
  // related to the Swiper's autoHeight or cssMode properties.
  height: 100vh;
}

.swiperWrapper {
  // Swiper in vertical mode will set the `flex-direction` of the `swiper-wrapper`
  // to `column` via the `swiper-vertical` class, but with a delay that will cause
  // a flickering effect on the first screen.
  // So here is a proactive early setup to fix the problem.
  flex-direction: column;
}

.isOnOperableArea {
  cursor: default;
}

.scrollTip {
  position: fixed;
  bottom: 56px;
  z-index: 1;
  width: 100%;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  filter: invert(1);
  mix-blend-mode: difference;

  &.enter,
  &.leave {
    transition: all 0.3s;
  }

  &.enterFrom,
  &.leaveTo {
    bottom: 80px;
    opacity: 0;
  }

  &.enterTo,
  &.leaveFrom {
    opacity: 1;
  }

  @media (max-width: $mobileBreakPoint) {
    display: none;
  }
}

.golContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $headerZ + 1;
  width: 100%;
  height: 100%;
  background: var(--colorPrimaryBg);
  filter: invert(1);
  mix-blend-mode: difference;
  pointer-events: none;

  .indicator {
    position: absolute;
    top: calc(48px + var(#{$headerHeightVarName}));
    left: 50%;
    width: 50%;
    height: 100%;

    @media (max-width: $mobileBreakPoint) {
      top: var(#{$headerHeightVarName});
      left: 0;
      width: 100%;
      height: 200px;
      margin: 0 36px;
    }
  }
}

.rightClickTip {
  $fontSize: 9px;
  $scale: $fontSize / 12px;

  position: fixed;
  z-index: $headerZ + 1;
  padding: (4px / $scale) (8px / $scale);
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.04em;
  white-space: nowrap;
  background: #ecf0f0;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 12%);
  transform: scale($scale);
  filter: invert(1);
  mix-blend-mode: difference;

  // Try to make it look smooth
  transition: all 0.02s;
}

.screenSlide {
  background: var(--colorPrimaryBg);

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      color: var(--colorPrimary);
    }
  }

  &.autoHeight {
    .container {
      height: auto;
    }
  }
}

// Because Portal is used, it is no longer a child of screenSlide.
.fixedSlideFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  filter: invert(1);
  mix-blend-mode: difference;
}

.titleText {
  font-weight: 800;
  font-size: 82px;
  line-height: 87%;
  letter-spacing: -0.025em;

  @media (max-width: $mobileBreakPoint) {
    font-weight: 800;
    font-size: 48px;
    line-height: 80%;
    letter-spacing: -0.025em;
  }
}

.subjectTitleText {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.descriptionText {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.05em;

  @media (max-width: $mobileBreakPoint) {
    font-weight: 400;
    font-size: 14px;
  }
}

.slideCKBIntro {
  flex-grow: 1;
  margin: calc(80px + var(#{$headerHeightVarName})) 0 0 12%;

  .texts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .titleText {
    max-width: 512px;
  }

  .subjectTitleText {
    // Reduce coverage area to avoid affecting game operation.
    width: max-content;
    margin-top: 20px;
  }

  .descriptionText {
    max-width: 444px;
    margin-top: 25px;
  }

  @media (max-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 314px;
    margin: -10vh auto 0;
    padding: 0;

    .subjectTitleText {
      margin-top: 30px;
    }

    .descriptionText {
      margin-top: 30px;
    }
  }
}

.slideCKBSecurity {
  flex-grow: 1;
  margin: calc(80px + var(#{$headerHeightVarName})) 0 0 12%;

  .titleText {
    max-width: 640px;
  }

  .descriptionText {
    max-width: 462px;
    margin-top: 25px;
  }

  @media (max-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 314px;
    margin: -2vh auto 0;
    padding: 0;

    .descriptionText {
      margin-top: 30px;
    }
  }
}

.slideCKBFlexibility {
  flex-grow: 1;
  margin: calc(80px + var(#{$headerHeightVarName})) 0 0 12%;

  .titleText {
    max-width: 664px;
  }

  .descriptionText {
    max-width: 575px;
    margin-top: 25px;
  }

  @media (max-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 314px;
    margin: 0 auto;
    padding: 0;

    .descriptionText {
      gap: 20px;
      margin-top: 20px;
    }
  }
}

.slideCKBSustainability {
  flex-grow: 1;
  margin: calc(80px + var(#{$headerHeightVarName})) 0 0 12%;

  .titleText {
    max-width: 640px;
  }

  .descriptionText {
    max-width: 488px;
    margin-top: 25px;
  }

  @media (max-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 314px;
    margin: -10vh auto 0;
    padding: 0;

    .descriptionText {
      margin-top: 30px;
    }
  }
}

.slideCKBModular {
  flex-grow: 1;
  margin: calc(80px + var(#{$headerHeightVarName})) 0 0 12%;

  .titleText {
    max-width: 640px;
  }

  .descriptionText {
    max-width: 504px;
    margin-top: 25px;
  }

  @media (max-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 314px;
    margin: -10vh auto 0;
    padding: 0;

    .descriptionText {
      margin-top: 30px;
    }
  }
}

.slideGetStartedWrapper {
  min-height: 100vh;
}

.slideGetStarted {
  flex-grow: 1;
  margin: calc(80px + var(#{$headerHeightVarName})) 12% 0;

  .titleText {
    max-width: 376px;
  }

  .link {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 8px 10px;
    color: var(--colorPrimaryBg);
    font-weight: 500;
    font-size: 12px;
    line-height: 105%;
    letter-spacing: 0.11em;
    background: transparent;
    border: 1px solid var(--colorPrimaryBg);
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      color: var(--colorPrimary);
      background: var(--colorPrimaryBg);
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px 0;
  }

  @media (max-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: column;
    max-width: 314px;
    margin: calc(88px + var(#{$headerHeightVarName})) auto 0;

    .cards {
      flex-direction: column;
    }
  }
}

@media (max-height: 780px) and (min-width: $mobileBreakPoint), (max-height: 620px) {
  .golContainer {
    margin-left: 100px;
  }

  .slideCKBIntro,
  .slideCKBSecurity,
  .slideCKBFlexibility,
  .slideCKBSustainability,
  .slideCKBModular,
  .slideGetStarted {
    margin-top: calc(10px + var(#{$headerHeightVarName}));

    .titleText {
      max-width: 439px;

      @media (min-width: $mobileBreakPoint) {
        font-size: 60px;
      }
    }

    .descriptionText {
      margin-top: 10px;
    }
  }
}
