@import '../../styles/variables.module';

$headerHeightVarName: '--headerHeight';
$defaultHeaderHeight: 90px;

:export {
  headerHeightVarName: $headerHeightVarName;
  defaultHeaderHeight: $defaultHeaderHeight;
}

:root {
  #{$headerHeightVarName}: $defaultHeaderHeight;

  @media (max-width: $mobileBreakPoint) {
    #{$headerHeightVarName}: 65px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(#{$headerHeightVarName});
  margin: 0 auto;
  color: #000;
  filter: invert(1);
  mix-blend-mode: difference;
  transition: color 0.2s, background-color 0.2s;

  .menuPopover {
    margin: 0 32px;

    .trigger {
      display: flex;
      flex-direction: column;
      align-items: center;

      // This is to prevent the actual width deviation caused by `transform: scale` from affecting the layout.
      max-width: 32px;
      cursor: pointer;

      .text {
        $fontSize: 9px;
        $scale: $fontSize / 12px;

        margin-top: 2px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.15em;
        transform: scale($scale);
      }
    }
  }

  .logo {
    display: flex;
    margin: 0 32px;
  }

  .languagePopover {
    margin: 0 32px;

    .trigger {
      display: flex;
      cursor: pointer;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    flex-direction: row-reverse;

    .languagePopover {
      display: none;
    }

    .menuPopover {
      .text {
        display: none;
      }
    }
  }
}

// Because Portal is used, it is no longer a child of header
.menuPopoverContent {
  position: fixed;
  top: 26px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 5px;
  max-width: 400px;
  padding: 30px;
  color: var(--colorPrimaryBg);
  background: var(--colorPrimary);
  border: 0.5px solid #484d4e;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 15%);

  &.enter {
    transition: opacity 0.2s, left 0.2s, right 0.2s;
  }

  &.leave {
    transition: opacity 0.2s, left 0.2s, right 0.2s;
  }

  &.enterFrom,
  &.leaveTo {
    left: 26px;
    opacity: 0;
  }

  &.leaveTo {
    left: 76px;
  }

  &.enterTo,
  &.leaveFrom {
    left: 76px;
    opacity: 1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 0 15px;
    color: var(--colorPrimary);
    background: var(--colorPrimaryBg);

    .title {
      display: flex;
      gap: 5px;
      align-items: center;
      height: 40px;
      font-weight: 600;
      font-size: 16px;

      .ckbHint {
        position: relative;
        top: 1px;
        font-weight: 400;
        font-size: 12px;
      }
    }

    .links {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 8px;
      justify-content: flex-end;
      padding-bottom: 15px;
      border-top: 1px solid var(--colorPrimary);

      .link {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.03em;
      }
    }
  }

  @media (max-width: $mobileBreakPoint) {
    top: 20px;
    max-width: min(calc(100% - 66px * 2), 400px);

    &.enterFrom,
    &.leaveTo {
      right: 26px;
      left: unset;
    }

    &.leaveTo {
      right: 66px;
      left: unset;
    }

    &.enterTo,
    &.leaveFrom {
      right: 66px;
      left: unset;
    }
  }
}

// Because Portal is used, it is no longer a child of header
.languagePopoverContent {
  $cardSize: 100px;

  position: fixed;
  top: 26px;
  right: 26px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, $cardSize);
  gap: 2px;
  padding: 30px;
  background: var(--colorPrimary);
  border: 0.5px solid #484d4e;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 15%);

  &.enter {
    transition: opacity 0.2s, right 0.2s;
  }

  &.leave {
    transition: opacity 0.2s, right 0.2s;
  }

  &.enterFrom,
  &.leaveTo {
    right: 26px;
    opacity: 0;
  }

  &.leaveTo {
    right: 76px;
  }

  &.enterTo,
  &.leaveFrom {
    right: 76px;
    opacity: 1;
  }

  .language {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $cardSize;
    padding: 15px;
    color: var(--colorPrimary);
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    background: var(--colorPrimaryBg);
    cursor: pointer;

    .tip {
      $fontSize: 10px;
      $scale: $fontSize / 12px;

      // Prevent unintended text line breaks from occurring.
      width: 100% / $scale;
      color: #6c6c6c;
      font-size: 12px;
      line-height: 14px;
      transform: scale($scale);
      transform-origin: left bottom;
    }

    &.disabled {
      cursor: not-allowed;
    }

    &.placeholder {
      cursor: unset;
    }
  }
}
