$headerHeight: 90;

:export {
  headerHeight: $headerHeight;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  height: #{$headerHeight}px;
  margin: 0 auto;
  color: var(--colorPrimary);
  background: var(--colorPrimaryBg);
  transition: color 0.2s, background-color 0.2s;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px;

    .text {
      margin-top: 2px;
      font-weight: 600;
      font-size: 9px;
    }
  }

  .languagePopover {
    margin: 0 32px;

    .trigger {
      display: flex;
      cursor: pointer;
    }
  }
}

// Because Portal is used, it is no longer a child of header
.languagePopoverContent {
  position: absolute;
  top: 26px;
  right: 26px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 2px;
  padding: 30px;
  background: var(--colorPrimaryBg);
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 15%);

  .language {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 15px;
    color: var(--colorPrimaryBg);
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    background: var(--colorPrimary);
    cursor: pointer;
  }
}
