@import '../../styles/variables.module';

$headerHeightVarName: '--headerHeight';
$defaultHeaderHeight: 90px;

:export {
  headerHeightVarName: $headerHeightVarName;
  defaultHeaderHeight: $defaultHeaderHeight;
}

:root {
  #{$headerHeightVarName}: $defaultHeaderHeight;

  @media (max-width: $mobileBreakPoint) {
    #{$headerHeightVarName}: 65px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(#{$headerHeightVarName});
  margin: 0 auto;
  color: var(--colorPrimary);
  background: var(--colorPrimaryBg);
  transition: color 0.2s, background-color 0.2s;

  .menuPopover {
    margin: 0 32px;

    .trigger {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .text {
        margin-top: 2px;
        font-weight: 600;
        font-size: 9px;
        letter-spacing: 0.15em;
      }
    }
  }

  .logo {
    display: flex;
    margin: 0 32px;
  }

  .languagePopover {
    margin: 0 32px;

    .trigger {
      display: flex;
      cursor: pointer;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    flex-direction: row-reverse;

    .languagePopover {
      display: none;
    }

    .menuPopover {
      .text {
        display: none;
      }
    }
  }
}

// Because Portal is used, it is no longer a child of header
.menuPopoverContent {
  position: absolute;
  top: 26px;
  left: 26px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 5px;
  padding: 30px;
  background: var(--colorPrimary);
  border: 0.5px solid #484d4e;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 15%);

  .menu {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 0 15px;
    background: var(--colorPrimaryBg);

    .title {
      display: flex;
      gap: 5px;
      align-items: center;
      height: 40px;
      font-weight: 600;
      font-size: 16px;

      .ckbHint {
        position: relative;
        top: 1px;
        font-weight: 400;
        font-size: 12px;
      }
    }

    .links {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 8px;
      justify-content: flex-end;
      padding-bottom: 15px;
      border-top: 1px solid var(--colorPrimary);

      .link {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.03em;
      }
    }
  }

  @media (max-width: $mobileBreakPoint) {
    right: 26px;
    left: unset;
  }
}

// Because Portal is used, it is no longer a child of header
.languagePopoverContent {
  position: absolute;
  top: 26px;
  right: 26px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 2px;
  padding: 30px;
  background: var(--colorPrimaryBg);
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 15%);

  .language {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 15px;
    color: var(--colorPrimaryBg);
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    background: var(--colorPrimary);
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }
}
