@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.resourcesItem {
  width: 100%;
  height: 290px;
  padding: 28px;
  color: var(--colorPrimaryBg);
  background-color: var(--colorPrimary);

  .itemTitle {
    --linkColor: var(--colorSecondInvert);

    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    border-bottom: 1px solid;
  }

  .itemContent {
    padding: 30px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
  }
}

@media (max-width: $mobileBreakPoint) {
  .resourcesItem {
    width: 100%;
    margin-top: unset;
  }
}
