@import '../../styles/presets.module';
@import '../../styles/variables.module';

.styledLink {
  display: inline-flex;
  align-items: center;
  font-weight: 600;

  .arrowIcon {
    width: 0.9em;
    height: 0.9em;
    margin-left: -0.2em;
    transform: rotate(-45deg);
  }

  &[data-colored='true'],
  &:hover {
    color: var(--linkColor);
    border-bottom-color: var(--linkColor);
  }

  &[data-underlined='true'] {
    // The reason for not using `text-decoration: underline` is that it
    // doesn't make the svg get underline as well.
    line-height: 0.8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}
