@import '../../styles/presets.module';
@import '../../styles/variables.module';

.styledLink {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;

  svg path {
    stroke: var(--colorPrimary);
  }

  .arrowIcon {
    path {
      fill: unset;
    }
  }

  &[data-colored='true'] {
    color: var(--colorSecond);
    border-bottom-color: var(--colorSecond);

    svg path {
      stroke: var(--colorSecond);
    }
  }

  &[data-underlined='true'] {
    // The reason for not using `text-decoration: underline` is that it
    // doesn't make the svg get underline as well.
    line-height: 0.8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .label {
    &[data-spaced='true'] {
      &::after {
        display: inline-block;
        width: 4px;
        height: 4px;
        content: '';
      }
    }
  }
}
