@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 260px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  font-weight: 400;

  .content {
    flex: 1 1 450px;
    margin: 0;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
  }

  .editorWrap {
    display: flex;
    flex: 1 1 min-content;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;

    .avatarAndEditorInfo {
      display: flex;
      align-items: center;

      .nameAndTime {
        display: flex;
        white-space: nowrap;
      }
    }

    .avatar {
      border-radius: 50%;
    }

    .lastEdit {
      margin-left: 14px;
    }

    .timeString {
      margin: 0 42px 0 14px;
    }
  }

  .contributorsButton {
    padding: 0 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.11em;
    white-space: nowrap;
    text-transform: uppercase;
    background: var(--contributorsButtonColor);
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 var(--colorSecond);
    cursor: pointer;
  }

  @media (max-width: $mobileBreakPoint) {
    flex-direction: column;
    padding-bottom: 0;

    .content {
      flex: 1;
      padding: 60px 24px 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.05em;
    }

    .editorWrap {
      display: block;
      width: 100%;
      padding: 0 24px;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0.03em;

      .avatarAndEditorInfo {
        padding: 20px 0;

        .nameAndTime {
          display: block;
        }
      }

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .contributorsButton {
        width: 100%;
      }
    }
  }
}
