@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.resources {
  align-items: flex-start;
  width: 100%;

  .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 135%;
  }

  .resourceItemGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 13px;
    margin-top: 60px;
  }

  @media (max-width: $mobileBreakPoint) {
    .title {
      margin-bottom: 60px;
    }

    .resourceItemGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: unset;

      .resourcesItem {
        width: 100%;
        margin-top: unset;
      }
    }
  }
}
