@import '../../styles/presets.module';
@import '../../styles/variables.module';

.footer {
  min-width: 1200px;
  margin: 0 120px;
  padding-bottom: 60px;
  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);
  border-top: 0.5px solid #6a7171;

  .guide {
    display: flex;

    .guideLinks {
      display: flex;
      flex: 1;
      justify-content: space-between;
      width: 100%;
    }

    .guideMedias {
      max-width: 374px;
      margin-top: 70px;
      margin-left: 140px;
    }
  }

  @media screen and (max-width: $mobileBreakPoint) {
    min-width: unset;
    margin: 0 24px;

    .guide {
      display: block;

      .guideLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .guideMedias {
        width: 100%;
        max-width: unset;
        margin: 80px 0 0;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    .copyright {
      $fontSize: 11px;
      $scale: $fontSize / 12px;

      color: #6a7072;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.03em;
      transform: scale($scale);
      transform-origin: right;

      .bold {
        color: var(--colorPrimary);
        font-weight: 500;
      }
    }

    @media (max-width: $mobileBreakPoint) {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
      margin-top: 80px;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    padding: 80px 0 40px;
  }
}
