@import '../../styles/presets.module';
@import '../../styles/variables.module';

.footer {
  width: 100%;
  padding: 0 120px 60px;
  color: var(--colorPrimary);
  background-color: var(--colorPrimaryBg);

  .content {
    margin: 0 auto;
    border-top: 0.5px solid #6a7171;
  }

  .guide {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 140px;
    margin-top: 70px;

    .guideLinks {
      display: flex;
      flex: 1 1 max-content;
      gap: 12px;
      justify-content: space-between;
      width: 100%;

      .titleLink {
        font-weight: 400;
      }
    }

    .guideMedias {
      flex: 1 1 187px;
    }
  }

  @media screen and (max-width: $mobileBreakPoint) {
    padding: 0 24px;

    .guide {
      display: block;

      .guideLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .guideMedias {
        width: 100%;
        max-width: unset;
        margin: 80px 0 0;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    .copyright {
      $fontSize: 11px;
      $scale: $fontSize / 12px;

      color: #6a7072;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.03em;
      transform: scale($scale);
      transform-origin: right;

      .bold {
        color: var(--colorPrimary);
        font-weight: 500;
      }
    }

    @media (max-width: $mobileBreakPoint) {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
      margin-top: 80px;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    padding-bottom: 40px;
  }
}
