@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 610px;

  .title {
    position: relative;
    max-width: 720px;
    margin-top: -100px;
    font-weight: 700;
    font-size: 65px;
    font-style: normal;
    line-height: 90%;
    letter-spacing: -0.025em;
  }

  @media (max-width: $mobileBreakPoint) {
    height: 549px;

    .title {
      width: calc(100% - var(--baseMobileMargin) * 2);
      margin: 0 var(--baseMobileMargin);
      font-weight: 700;
      font-size: 50px;
      line-height: 80%;
      letter-spacing: -0.025em;
    }

    .floatIcons {
      position: unset;
    }
  }
}
