@import 'src/styles/variables.module';

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 min(10%, 120px);
  @media screen and (max-width: $mobileBreakPoint) {
    padding: 0 24px;
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 610px;
  padding-bottom: 80px;
  overflow: hidden;
  color: #000;
  font-weight: 700;
  font-size: 4rem;

  .icons {
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translateX(-200%);
  }

  .left,
  .right {
    position: absolute;
    z-index: 0;
    filter: invert(1);
    mix-blend-mode: difference;
  }

  .left {
    top: 205px;
    left: -430px;
    transform: rotate(-0.5turn);
  }

  .right {
    top: 0;
    right: -350px;
  }

  @media screen and (max-width: 1280px) {
    .left {
      left: -540px;
    }

    .right {
      top: 30px;
      right: -400px;
    }
  }
  @media screen and (max-width: 980px) {
    height: 560px;

    span,
    .icons {
      padding-left: 22px;
    }

    overflow: hidden;

    .left {
      top: 320px;
      left: -640px;
      transform: scale(0.8) rotate(0.5turn);
    }

    .right {
      transform: scale(0.8);
      transform-origin: right top;
    }
  }

  @media screen and (max-width: $mobileBreakPoint) {
    justify-content: flex-start;
    height: 500px;
    font-size: 3.125rem;

    .icons {
      top: 280px;
      left: 0;
      transform: none;
    }

    .left {
      left: -610px;
    }

    .right {
      right: -420px;
    }
  }
}

.popularTitle {
  display: flex;
  align-items: center;
  margin: 0 auto 30px;
  padding-top: 80px;
  color: #000;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.56rem;
  text-transform: capitalize;
  border-top: 1px solid #6a7171;

  img {
    margin-right: 10px;
  }

  @media screen and (max-width: $mobileBreakPoint) {
    padding-top: 0;
    border-top: none;
  }
}

.populars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  .coverImage {
    flex-shrink: 0;
    width: 200px;
    height: 112px;
    margin-left: 30px;
    object-fit: cover;

    &[data-type='news'] {
      border: 1px solid var(--newsColor);
      box-shadow: 2px 2px 0 0 var(--newsColor);
    }

    &[data-type='guide & tutorials'] {
      border: 1px solid var(--guideAndTutorialsColor);
      box-shadow: 2px 2px 0 0 var(--guideAndTutorialsColor);
    }

    &[data-type='learning resources'] {
      border: 1px solid var(--learnResourceColor);
      box-shadow: 2px 2px 0 0 var(--learnResourceColor);
    }

    &[data-type='release & update'] {
      border: 1px solid var(--releaseAndUpdateColor);
      box-shadow: 2px 2px 0 0 var(--releaseAndUpdateColor);
    }

    &[data-type='events'] {
      border: 1px solid var(--eventsColor);
      box-shadow: 2px 2px 0 0 var(--eventsColor);
    }
  }

  .popular {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    background: #000;
    border-radius: 9px;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 3px 3px 12px rgb(0 0 0 / 40%);
    }

    .introduction {
      display: flex;
    }
  }

  .title {
    display: -webkit-box;
    height: 2.6em;
    margin-bottom: 5px;
    overflow: hidden;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .excerpt {
    display: -webkit-box;
    box-sizing: content-box;
    height: 1.4rem * 3;
    padding-top: 10px;
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
    border-top: 1px solid #fff;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .category {
    margin: 12px 0;
    padding: 0;
  }

  .meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.625rem;
    white-space: nowrap;

    .separator {
      padding: 0 5px;
    }

    & > div {
      display: flex;
      align-items: center;
    }

    time {
      padding-right: 5px;
    }

    .clock {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }

    .avatars {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 5px;

      .avatar {
        width: 18px;
        height: 18px;
        margin-left: -10px;
        border-radius: 50%;

        &:last-child {
          margin-left: 0;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        &:not(img) {
          display: flex;
          justify-content: center;
          color: var(--colorPrimary);
          font-weight: bold;
          font-size: 12px;
          line-height: 1.66em;
          background: var(--colorPrimaryBg);
        }
      }
    }

    @media screen and (max-width: $mobileBreakPoint) {
      flex-direction: column;
      align-items: flex-start;

      & > div:last-child {
        margin-top: 10px;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    width: calc(100vw - 240px);
    overflow: auto;
    scroll-snap-type: x mandatory;

    .title {
      font-size: 1rem;
    }

    .excerpt {
      font-size: 0.875rem;
    }

    .introduction {
      flex-direction: column;

      img {
        margin: 10px 0;
      }
    }

    & > a {
      scroll-snap-align: center;
    }
  }
  @media screen and (max-width: $mobileBreakPoint) {
    width: calc(100vw - 40px);
  }
}

.categoriesContainer {
  display: flex;
  margin: 85px auto 70px;
  padding: 18px 30px;
  color: #fff;
  white-space: nowrap;
  background-color: #000;
  border-radius: 10px;

  .label {
    flex-shrink: 1;
    line-height: 24px;
  }

  .categories {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-left: 15px;

    .category {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      padding: 0 12px;
      font-size: 0.875rem;
      white-space: nowrap;
      text-transform: capitalize;
      border: 1px solid #888;
      border-radius: 6px;

      &[data-selected='true'] {
        color: #000;
        background: #fff;
        border-color: #fff;
      }

      &:hover:not([data-selected='true']) {
        color: #000;
        background: #fff;
        border-color: #fff;

        &[data-type='events'] {
          background: #bb9bff;
          border-color: #bb9bff;
        }

        &[data-type='news'] {
          background: #98ffff;
          border-color: #98ffff;
        }

        &[data-type='releases & updates'] {
          background: #ffe99b;
          border-color: #ffe99b;
        }

        &[data-type='guides & tutorials'] {
          background: #ff90d9;
          border-color: #ff90d9;
        }

        &[data-type='learning resources'] {
          background: #b2ffba;
          border-color: #b2ffba;
        }
      }
    }
    @media screen and (max-width: $mobileBreakPoint) {
      display: none;
    }
  }
}

.categorySelect {
  display: none;
  width: 100%;
  height: 30px;
  margin: 79px auto 67px;
  color: #000;
  text-transform: capitalize;
  border: 1px solid #000;
  border-radius: 3px;

  option {
    text-transform: capitalize;
  }
  @media screen and (max-width: $mobileBreakPoint) {
    display: inline-block;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 13px;
  color: #000;

  .title {
    display: -webkit-box;
    height: 38px;
    margin-bottom: 7px;
    padding-bottom: 12px;
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3em;
    border-bottom: 1px solid #000;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .excerpt {
    display: -webkit-box;
    margin-bottom: 7px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .category {
    margin: 7px 0;
  }

  .meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.625rem;
    white-space: nowrap;

    .separator {
      padding: 0 5px;
    }

    time {
      padding-right: 5px;
    }

    .clock {
      width: 12px;
      height: 12px;
      margin-right: 5px;
      filter: invert(1);
    }

    .avatars {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 5px;

      // TODO: The handling of /images/nervos_avatar.svg here is entirely
      // for `/images/nervos_avatar.svg` and needs to be improved
      img[src$='.svg'] {
        filter: invert(1);
      }

      /* stylelint-disable-next-line no-descending-specificity */
      .avatar {
        width: 18px;
        height: 18px;
        margin-left: -10px;
        border-radius: 50%;

        &:last-child {
          margin-left: 0;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        &:not(img) {
          display: flex;
          justify-content: center;
          color: var(--colorPrimaryBg);
          font-weight: bold;
          font-size: 12px;
          line-height: 1.66em;
          background: var(--colorPrimary);
        }
      }
    }
  }

  .cover {
    width: 250px;
    height: auto;
  }

  .blog {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.6em;
    border: 1px solid #d3d7d8;
    border-radius: 5px;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 2px 2px 12px rgb(0 0 0 / 10%);
    }

    @media screen and (max-width: $mobileBreakPoint) {
      margin: 0 11px;
    }
  }
  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    .cover {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $mobileBreakPoint) {
    grid-template-columns: 1fr;
  }
}
