@import '../../../../styles/presets.module';
@import '../../../../styles/variables.module';

.footerMedia {
  .title {
    font-weight: 500;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0.03em;
  }

  .description {
    $fontSize: 11px;
    $scale: $fontSize / 12px;

    // Prevent unintended text line breaks from occurring.
    width: 100% / $scale;
    margin-top: 26px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    transform: scale($scale);
    transform-origin: left;
  }

  .medias {
    display: flex;
    gap: 30px;
    margin-top: 26px;

    svg path {
      fill: var(--colorPrimary);
    }

    @media screen and (max-width: $mobileBreakPoint) {
      gap: 25px;
    }
  }

  .formWrap {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 26px;

    .inputWrap {
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 10px;
      background: var(--footerInputBackground);
      border-radius: unset;

      svg {
        margin-right: 6px;

        path {
          stroke: var(--colorPrimary);
        }
      }

      .arrowIcon {
        :hover {
          cursor: pointer;
        }
      }

      input {
        width: 100%;
        height: 32px;
        color: var(--colorPrimary);
        font-size: 11px;
        background: var(--footerInputBackground);
        border: none;

        &::placeholder {
          color: #6a7171;
        }
      }

      > input:focus-visible {
        border: none;
        outline: none;
      }
    }

    @media screen and (max-width: $mobileBreakPoint) {
      flex-direction: column;

      :nth-child(2) {
        margin-top: unset;
      }
    }
  }
}
