@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.icons {
  position: absolute;
  top: calc(100% + 40px);
  left: -48px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 4px;

  .quoteIcon {
    display: flex;
    grid-column-start: 2;
  }
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    top: calc(100% + 26px);
    left: 0;
  }
}
