@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.icons {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 4px;
  transform: translate(-320px, 98px);

  .quoteIcon {
    grid-column-start: 2;
  }

  svg > path,
  circle {
    stroke: var(--colorPrimary);
  }
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    position: absolute;
    top: 380px;
    left: 24px;
    transform: unset;
  }
}
