@import '../../../../styles/presets.module';
@import '../../../../styles/variables.module';

.footerLinkGroup {
  @media screen and (max-width: $mobileBreakPoint) {
    margin-top: 80px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 0.26em;
    text-transform: uppercase;
  }

  .links {
    $fontSize: 11px;
    $scale: $fontSize / 12px;

    display: grid;
    gap: 17px * $scale;

    .linksNav {
      font-weight: 400;
      font-size: 12px;
      font-style: normal;
      transform: scale($scale);
      transform-origin: left;
    }
  }
}
