@import '../../../styles/presets.module';
@import '../../../styles/variables.module';

.descriptionContent {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
  padding: min(5%, 60px) min(10%, 104px);
  color: var(--colorPrimaryBg);
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.03em;
  background-color: var(--colorPrimary);
  border-radius: 35px;

  .content {
    margin: 0;
  }

  @media (max-width: $mobileBreakPoint) {
    width: calc(100% - var(--basemobilemargin) * 2);
    min-width: unset;
    margin: 0 var(--baseMobileMargin);
    padding: 60px 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.03em;
    border-radius: 35px;
  }
}
