@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.icons {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(140px, -50%);
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    top: calc(100% + 80px);
    left: 0;
    transform: unset;
  }
}
