@import 'src/styles/variables.module';
@import 'src/components/Header/index.module';

.blendModeHeader {
  position: absolute;
  z-index: 2;
  width: 100%;
  filter: invert(1);
  mix-blend-mode: difference;
}

.footer {
  background: var(--colorPrimaryBg);
}

.icons {
  transform: translate(307px, -75px);

  svg > path,
  circle {
    stroke: var(--colorPrimary);
  }
}

@media (max-width: $mobileBreakPoint) {
  .icons {
    position: absolute;
    top: 380px;
    left: 24px;
    transform: unset;
  }
}
